<div class="parent">
   
    <div class="child">
        <div class="main">
            <h2>STUDENT LOGIN</h2>

            <label>Enter E-mail: </label>
            <input type="text" placeholder="Email ">
            <br>
    
            
            <label>Password: </label>
            <input type="password" placeholder="Password">
            <br>
            <br>
            <button routerLink="/dashboard">Login</button>
            <br><br>
            <div class="url">
                <a href="" routerLink="/forgotpassword">forgot password?</a>
                <a href="" routerLink="register">Register</a>
        </div>
        </div>
    </div>
</div>