<div class="parent">
   
  

    <div class="child">
        <div class="main">
            <h2>STUDENT LOGIN</h2>

          <form [formGroup]="loginForm">

            <label>Enter E-mail: </label>
            <input type="text" placeholder="Email"  formControlName="email">
            <br>
    
            
            <label>Password: </label>
            <input type="password" placeholder="Password" formControlName="password">
            <br>
            <br>
            <button (click)="login()">Login</button>
            <br><br>
            <div class="url">
                <a href="" routerLink="password">forgot password?</a>
                <a href="" routerLink="register">Register</a>
        </div>

    </form>
        </div>
    </div>
</div>